html{
    width: 100%;
    height: 100%;
}
body{
    padding: 0px;
    margin: 0px;
}
.clr{
    clear: both;
}
#dangnhap{
    position: static;
    margin: 87px auto;
    width: 30%;
    background-color: aliceblue;
    height: 70%;
}
#dangnhap .dang{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}
#dangnhap > div > div{
    margin: 0px auto;
    width: 30%;
}
#dangnhap > div > div b{
    font-size: 25px;
}
#dangnhap .a1{
    width: 100%;
}
#dangnhap .a1 .label_user{
    margin: 0 0 0 25px;
}
#dangnhap .a1 .form_user{
    margin: 5px 0 0 25px;
    width: 100%;
}
#dangnhap .a1 .form_user .img_user{
    background-image: url('../image/iconuser.jpg');
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-left: 2px solid #00B8B0;
    border-right: 0px;
    width: 25px;
    height: 23px;
    float: left;
    background-size: 100% 100%;
}
#dangnhap .a1 .form_user .input_user{
    height: 23px;
    border: 1px solid #CCCCCC;
    border-left: 0px;
    width: 80%;
}
#dangnhap .a2{
    width: 100%;
    margin: 15px 0 10px 0;
}
#dangnhap .a2 .label_pass{
    margin: 0 0 0 25px;
}
#dangnhap .a2 .form_pass{
    margin: 5px 0 0 25px;
    width: 100%;
}
#dangnhap .a2 .form_pass .img_pass{
    background-image: url('../image/iconpassword.jpg');
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-left: 2px solid #00B8B0;
    border-right: 0px;
    width: 25px;
    height: 23px;
    float: left;
    background-size: 100% 100%;
}
#dangnhap .a2 .form_pass .input_pass{
    height: 23px;
    border: 1px solid #CCCCCC;
    border-left: 0px;
    width: 80%;
}
#dangnhap .btn_dangnhap{
    width: 87%;
    margin: 0 0 30px 25px;
    background-color: #25B963;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#dangnhap .lay{
    margin: 0 10px 15px 25px;
    float: left;
}
#dangnhap .bb{
    text-decoration: none;
}
#dangnhap .div1{
    padding-bottom: 25px;
}
.span3{
    color:red;
    background-color: #ddd;
    margin-top: 5px;
    width: 87%;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
#captcha1{
    margin-left: 22px;
}